$primary-color: #1cbbb4;
$secondary-color: #ffad1d;
$lightest-color: #ffffff;
$light-gray-color: #ebebeb;
$mid-gray-color: #707070;
$dark-graycolor: #464646;
$darkest-color: #333333;
$primary-font-color: $darkest-color;
$secondary-font-color: #ffffff;
