@import "./colors.scss";
@import "./font-vars.scss";

$fontSize: 14px;
$color-bg: blue;

// indexlayers
$close-up-layer: 2;
$foreground-layer: 1;
$midground: 0;
$background-layer: -1;
$far-away-layer: -2;

// breakpoints
$phone: 720px;
$tablet: 960px;
$laptop: 1100px;